@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
}

.wrapper {
  position: relative;
  max-width: 1180px;
  margin: auto;
}

.highlight {
  color: #c7b299;
}

.light-highlight {
  color: #959595;
}

.btn-template {
  padding: 16px 40px;
  border: 0;
  font-size: 14px;
  font-weight: 800;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #998675;
  border-bottom: 3px solid #736357;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.hero {
  height: 1023px;
  background: url(../img/hero-bg.jpg);
}

.header {
  margin-bottom: 235px;
  padding: 40px 0;
}
.header .wrapper {
  display: flex;
}

.header-logotype-link {
  margin-right: 215px;
}

.header-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0;
}

.header-buttons-group {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0;
}
.header-buttons-group .header-button {
  list-style: none;
}
.header-buttons-group .header-button:first-of-type {
  margin-right: 30px;
}

.navigation-link {
  list-style: none;
  margin-right: 30px;
}
.navigation-link a {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 0;
  letter-spacing: 0;
  color: #fff;
  text-decoration: none;
}

.navigation-link:hover a {
  color: #c7b299;
}

.navigation-link:last-of-type {
  margin-right: 30px;
}

.hero .slider {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero .slider .slider {
  position: relative;
  height: inherit;
  width: inherit;
  margin-bottom: 245px;
  overflow: hidden;
}

.slider-wrapper > input {
  display: none;
}

.slider-wrapper {
  height: 350px;
  width: 700px;
  margin: 0 auto 0;
  position: relative;
}

.slides {
  position: absolute;
  height: inherit;
  width: inherit;
  font-family: "Raleway", "Arial", sans-serif;
  text-align: center;
  color: #fff;
}
.slides .slide-pretitle {
  margin: 0 0 14px 0;
  font-size: 36px;
  font-weight: 500;
}
.slides .slide-title {
  margin: 0 0 20px 0;
  font-size: 52px;
  font-weight: 800;
}
.slides .slide-subtitle {
  margin: auto auto 32px auto;
  font-size: 16px;
  font-weight: 300;
  max-width: 570px;
  line-height: 24px;
}

.slider-arrow {
  position: absolute;
}

.slider-arrow-img {
  width: 72px;
  height: 72px;
}

.left-arrow {
  left: 125px;
}

.right-arrow {
  right: 125px;
}

.slider-controls {
  height: fit-content;
  width: fit-content;
  margin: auto;
  padding-right: 18px;
}
.slider-controls .radio-btn {
  width: 10px;
  height: 10px;
  margin-left: 5px;
}
.slider-controls .radio-btn:checked {
  width: 15px;
  height: 15px;
  margin-left: 8px;
  margin-right: 3px;
}
.slider-controls .radio-btn:first-of-type {
  margin-left: 0;
}

.services {
  padding: 80px 0;
}
.services .services-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.services-list-element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  text-align: center;
  cursor: pointer;
}
.services-list-element .services-element-icon {
  height: 45px;
  width: 45px;
  margin-bottom: 30px;
  filter: invert(32%) sepia(13%) saturate(15%) hue-rotate(329deg) brightness(91%) contrast(85%);
}
.services-list-element .services-element-title {
  margin-bottom: 20px;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 600;
  font-size: 22px;
  color: #555555;
}
.services-list-element .services-element-subtitle {
  max-width: 272px;
  margin-bottom: 24px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #8c8c8c;
}
.services-list-element .services-element-line {
  height: 3px;
  width: 70px;
  background-color: #f1eee9;
}

.services-list-element:hover .services-element-icon {
  filter: invert(84%) sepia(6%) saturate(1145%) hue-rotate(353deg) brightness(88%) contrast(83%);
}
.services-list-element:hover .services-element-title {
  color: #c7b299;
}
.services-list-element:hover .services-element-subtitle {
  color: #8c8c8c;
}
.services-list-element:hover .services-element-line {
  background-color: #c7b299;
}

.tagline {
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 71px;
  background-color: #fbfaf8;
}
.tagline .tagline-title {
  margin-bottom: 20px;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: #555555;
}
.tagline .tagline-subtitle {
  max-width: 770px;
  margin: auto auto 33px auto;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #8c8c8c;
}
.tagline .tagline-browser-container {
  position: relative;
  height: 480px;
  width: 770px;
  margin: auto;
}
.tagline .tagline-browser-center {
  position: absolute;
  height: 480px;
  width: 770px;
  margin: auto;
  background: url(../img/browser-center.png);
  z-index: 10;
}
.tagline .tagline-browser-left {
  position: absolute;
  right: 240px;
  bottom: 0;
  height: 400px;
  width: 770px;
  background: url(../img/browser-left.png);
}
.tagline .tagline-browser-right {
  position: absolute;
  left: 220px;
  bottom: 0;
  height: 400px;
  width: 770px;
  background: url(../img/browser-right.png);
}

.text-boxes {
  padding: 48px 0;
  background: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
}
.text-boxes .wrapper {
  display: flex;
  align-items: center;
}

.purchase-text {
  margin-right: 460px;
}
.purchase-text .purchase-title {
  margin-bottom: 8px;
  font-size: 28px;
  font-family: "Raleway", "Arial", sans-serif;
  letter-spacing: 0;
  color: #fff;
}
.purchase-text .purchase-title .title-span {
  color: #c7b299;
}
.purchase-text .purchase-subtitle {
  font-size: 18px;
  font-weight: 300;
  font-family: "Montserrat", "Arial", sans-serif;
  letter-spacing: 0;
  color: #615855;
}

.purchase-btn {
  padding: 16px 30px;
}

.projects {
  padding: 70px 0 80px 0;
}
.projects .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1300px;
  text-align: center;
}

.projects-title {
  margin-bottom: 20px;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: #555555;
}

.projects-subtitle {
  max-width: 800px;
  margin: auto auto 33px auto;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #8c8c8c;
}

.projects-categories {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.projects-categories-element {
  list-style: none;
}
.projects-categories-element button {
  margin-right: 10px;
  padding: 7px 25px;
  color: #8c8c8c;
  background-color: transparent;
  border: 1px solid #8c8c8c;
  border-radius: 2px;
  text-decoration: none;
  cursor: pointer;
  outline: none;
}

.projects-categories-element:hover {
  list-style: none;
}
.projects-categories-element:hover button {
  color: #fff;
  background-color: #736357;
  border: 1px solid #736357;
}

.projects-table {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.table-element {
  cursor: pointer;
  margin: 0 17px 30px 17px;
  list-style: none;
}

.table-element-wrapper {
  position: relative;
}

.table-element-image {
  height: 240px;
  width: 370px;
  background: black;
  opacity: 0.95;
}

.table-element-text {
  padding: 25px 0;
  text-align: left;
  background: #fbfaf8;
}

.table-element-title {
  margin: 0 0 5px 28px;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #c7b299;
}

.table-element-subtitle {
  margin-left: 28px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #e2e2e1;
}

.element-icon {
  position: absolute;
  top: 100px;
  display: none;
  height: 25px;
  width: 25px;
}

.element-lupa-icon {
  right: 150px;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(82deg) brightness(105%) contrast(105%);
  transform: scale(-1, 1);
}

.element-link-icon {
  left: 140px;
  filter: invert(78%) sepia(9%) saturate(720%) hue-rotate(353deg) brightness(94%) contrast(85%);
}

.table-element:hover .table-element-image {
  opacity: 1;
}
.table-element:hover .table-element-text {
  background: #362f2d;
}
.table-element:hover .table-element-title {
  color: #fff;
}
.table-element:hover .table-element-subtitle {
  color: #c7b299;
}
.table-element:hover .element-icon {
  display: block;
}

.video-presentation {
  padding: 210px 0 200px 0;
  background: url(../img/video-bg.jpg);
}
.video-presentation .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.video-play-btn {
  margin-bottom: 35px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}
.video-play-btn .play-btn-image {
  height: 64px;
  width: 64px;
  filter: invert(83%) sepia(100%) saturate(0%) hue-rotate(322deg) brightness(103%) contrast(103%);
}

.video-title {
  margin: 0 0 20px 0;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 500;
  font-size: 30px;
  color: #fff;
}

.video-subtitle {
  max-width: 570px;
  margin: 0 0 23px 0;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #fff;
}

.video-timing {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #c7b299;
}

.mobile {
  padding-top: 70px;
  background: #fbfaf8;
}
.mobile .wrapper {
  display: flex;
  justify-content: center;
}

.mobile-image {
  margin-right: 50px;
}

.mobile-title {
  margin: 120px 0 30px 0;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: #555555;
}

.mobile-subtitles {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #8c8c8c;
}

.mobile-subtitle {
  margin: 0 0 23px 0;
  max-width: 670px;
}

.mobile-list {
  margin-left: 50px;
}

.mobile-list-element {
  margin: 0 0 5px 0;
  color: #8c8c8c;
  list-style: none;
}

.mobile-list-element::before {
  height: 21px;
  width: 21px;
  padding: 0 30px 3px 0;
  display: inline-block;
  content: "";
  vertical-align: middle;
  background-image: url(../img/mobile-list-icon.png);
  background-repeat: no-repeat;
}

.advantages {
  padding: 60px 0;
  background: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
}

.advantages-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.advantages-list-element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 100px;
  list-style: none;
}

.advantages-list-element:last-of-type {
  margin: 0;
}

.list-element-image {
  margin-bottom: 25px;
}

.list-element-number {
  margin-bottom: 5px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 300;
  font-size: 48px;
  color: #fff;
}

.list-element-subtitle {
  margin-bottom: 27px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #c7b299;
}

.list-element-line {
  height: 2px;
  width: 30px;
  background-color: #fff;
}

.posts {
  padding: 75px 0;
  text-align: center;
}
.posts .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.posts-title {
  margin-bottom: 20px;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: #555555;
}

.posts-subtitle {
  max-width: 770px;
  margin-bottom: 30px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #8c8c8c;
}

.posts-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.posts-list-element {
  position: relative;
  cursor: pointer;
  margin: 0 17px 45px 17px;
  list-style: none;
}

.posts-element-image {
  height: 220px;
  width: 370px;
  background: black;
  opacity: 0.95;
}

.posts-element-text {
  padding: 25px 0 25px 28px;
  text-align: left;
  background: #fbfaf8;
}

.posts-element-title {
  margin: 0 0 15px 0;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #555555;
}

.posts-element-subtitle {
  margin-bottom: 20px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  color: #8c8c8c;
}

.posts-element-link {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #c7b299;
  text-decoration: none;
}

.posts-element-link::after {
  content: "►";
  padding-left: 5px;
}

.posts-element-date {
  position: absolute;
  top: 20px;
  left: 16px;
}

.date-header {
  padding: 7px;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  background: #363636;
}
.date-header .date-title {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 20px;
  color: #fff;
}

.date-body {
  padding: 4px 14px;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  background: #252525;
}
.date-body .date-subtitle {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
}

.posts-list-element:hover .posts-element-image {
  opacity: 1;
}
.posts-list-element:hover .posts-element-text {
  background: #362f2d;
}
.posts-list-element:hover .posts-element-title {
  color: #c7b299;
}
.posts-list-element:hover .posts-element-subtitle {
  color: #fff;
}
.posts-list-element:hover .date-header {
  background: #c7b299;
}
.posts-list-element:hover .date-body {
  background: #a48d72;
}

.controls-left-arrow {
  margin-right: 5px;
}

.partners {
  padding: 134px 0 135px 0;
  background: url(../img/partners-bg.jpg);
}

.partners-logos-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logos-list-element {
  list-style: none;
  margin-right: 90px;
}

.logos-list-element:last-of-type {
  margin: 0;
}

.footer-wrapper {
  padding: 80px 0 60px 0;
  background: #191919;
}
.footer-wrapper .wrapper {
  display: flex;
  justify-content: center;
}

.footer-about,
.footer-posts,
.footer-twitter {
  margin-right: 30px;
}

.footer-posts,
.footer-twitter,
.footer-widget {
  margin-top: 25px;
}

.footer-about-logo {
  margin-bottom: 25px;
}

.footer-about-subtitle {
  width: 270px;
  margin-bottom: 20px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 300;
  font-size: 14px;
  word-wrap: break-word;
  line-height: 24px;
  color: #555555;
}

.footer-about-link {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #d1d1d1;
  text-decoration: none;
}

.footer-about-link::after {
  content: "►";
  padding-left: 5px;
}

.footer-about-link:hover {
  color: #c7b299;
}

.footer-posts-title,
.footer-twitter-title,
.footer-widget-title {
  margin-bottom: 30px;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: #fff;
}

.footer-posts-element,
.footer-twitter-element,
.footer-widget-element {
  list-style: none;
}

.footer-posts-element-date,
.footer-twitter-element-date {
  margin-bottom: 10px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 300;
  font-size: 12px;
  color: #363636;
}

.footer-posts-element-text,
.footer-twitter-element-text {
  max-width: 270px;
  margin-bottom: 20px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #555555;
}

.footer-posts-element-line,
.footer-twitter-element-line {
  display: inline-block;
  height: 1px;
  width: 270px;
  margin-bottom: 20px;
  background-color: #252525;
}

.footer-posts-element:hover {
  cursor: pointer;
}
.footer-posts-element:hover .footer-posts-element-date {
  color: #fff;
}
.footer-posts-element:hover .footer-posts-element-text {
  color: #c7b299;
}

.footer-twitter-element-date {
  margin-bottom: 20px;
}

.footer-twitter-element-text {
  margin-bottom: 10px;
}
.footer-twitter-element-text .text-link {
  color: #06b7e9;
  text-decoration: none;
}

.footer-widget-list {
  display: flex;
  flex-wrap: wrap;
}

.footer-widget-element {
  margin: 0 10px 10px 0;
}

.copyright {
  padding: 45px 0;
  background: #111111;
}
.copyright .wrapper {
  display: flex;
  align-items: center;
}

.copyright-list-left,
.copyright-list-right {
  display: flex;
}

.copyright-list-left {
  margin-right: 400px;
}

.copyrights,
.copyright-list-element {
  margin-right: 12px;
  margin-bottom: 20px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 300;
  font-size: 13px;
  color: #555555;
  list-style: none;
}

.copyright-list-element a {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 300;
  font-size: 13px;
  color: #555555;
  text-decoration: none;
}

.copyright-list-element:before {
  content: "|";
  padding-right: 12px;
}

.copyright-list-element:hover a {
  color: #c7b299;
}

.copyright-list-element:hover:before a {
  color: #555555;
}

.copyright-list-right .copyright-list-element:first-of-type::before {
  content: none;
}
