* {
  padding: 0;
  margin: 0;
}

.wrapper {
  max-width: 1180px;
  margin: auto;
  position: relative;
}

.btn-template {
  padding: 16px 40px;
  border: 0;
  border-bottom: 3px solid #736357;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  font-weight: 800;
  border-radius: 5px;
  background-color: #998675;
  outline: none;
  cursor: pointer;
}

.hero {
  height: 1023px;
  background: url(../img/hero-bg.jpg);
}

.header {
  padding: 40px 0;
  margin-bottom: 235px;
}
.header .wrapper {
  display: flex;
}
.header .wrapper .header-logotype-link {
  margin-right: 215px;
}
.header .wrapper .navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0;
}
.header .wrapper .navigation .navigation-link {
  list-style: none;
  margin-right: 30px;
}
.header .wrapper .navigation .navigation-link a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 13.5px;
  line-height: 0;
  letter-spacing: 0;
}
.header .wrapper .navigation .navigation-link .link-about-us {
  color: #c7b299;
}
.header .wrapper .navigation .navigation-link:last-of-type {
  margin-right: 30px;
}
.header .wrapper .header-buttons-group {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0;
}
.header .wrapper .header-buttons-group .header-button {
  list-style: none;
}
.header .wrapper .header-buttons-group .header-button:first-of-type {
  margin-right: 30px;
}

.hero .slider {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero .slider .slider-wrapper > input {
  display: none;
}
.hero .slider .slider-wrapper {
  height: 350px;
  margin: 0 auto 0;
  position: relative;
  width: 700px;
}
.hero .slider .slides {
  height: inherit;
  position: absolute;
  width: inherit;
  text-align: center;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
}
.hero .slider .slides .slide-pretitle {
  font-size: 36px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 14px;
}
.hero .slider .slides .slide-title {
  font-size: 52px;
  font-weight: 800;
  margin: 0;
  margin-bottom: 20px;
}
.hero .slider .slides .slide-subtitle {
  font-size: 16px;
  font-weight: 300;
  max-width: 570px;
  line-height: 24px;
  margin: auto;
  margin-bottom: 32px;
}
.hero .slider .slider {
  height: inherit;
  overflow: hidden;
  position: relative;
  width: inherit;
  margin-bottom: 245px;
}
.hero .left-arrow {
  position: absolute;
  left: 125px;
}
.hero .left-arrow .left-arrow-img {
  height: 72px;
  width: 72px;
}
.hero .right-arrow {
  position: absolute;
  right: 125px;
}
.hero .right-arrow .right-arrow-img {
  height: 72px;
  width: 72px;
}
.hero .controls {
  width: fit-content;
  margin: auto;
  padding-right: 17.5px;
  height: fit-content;
}
.hero .controls .radio-btn {
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #999797;
  color: #999797;
  margin-left: 5px;
}
.hero .controls .radio-btn:checked {
  content: '';
  width: 15px;
  height: 15px;
  border: 1px solid #d3c1ad;
  border-radius: 100%;
  background: transparent;
  margin-left: 7.5px;
  margin-right: 2.5px;
}
.hero .controls .radio-btn:first-of-type {
  margin-left: 0;
}

.services {
  padding: 80px 0;
}
.services .services-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.services .services-list .services-list-element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 30px;
  cursor: pointer;
}
.services .services-list .services-list-element .element-icon {
  filter: invert(32%) sepia(13%) saturate(15%) hue-rotate(329deg) brightness(91%) contrast(85%);
  height: 45px;
  width: 45px;
  margin-bottom: 30px;
}
.services .services-list .services-list-element .element-title {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 22px;
  color: #555555;
  margin-bottom: 20px;
}
.services .services-list .services-list-element .element-subtitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #8c8c8c;
  max-width: 272px;
  margin-bottom: 24px;
  line-height: 24px;
}
.services .services-list .services-list-element .element-line {
  height: 3px;
  width: 70px;
  background-color: #f1eee9;
}
.services .services-list .services-list-element:hover .element-icon {
  filter: invert(84%) sepia(6%) saturate(1145%) hue-rotate(353deg) brightness(88%) contrast(83%);
}
.services .services-list .services-list-element:hover .element-title {
  color: #c7b299;
}
.services .services-list .services-list-element:hover .element-subtitle {
  color: #8c8c8c;
}
.services .services-list .services-list-element:hover .element-line {
  background-color: #c7b299;
}

.tagline {
  padding-top: 71px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fbfaf8;
  position: relative;
}
.tagline .tagline-title {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 20px;
  color: #555555;
}
.tagline .tagline-subtitle {
  margin: auto;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 33px;
  max-width: 770px;
  color: #8c8c8c;
}
.tagline .tagline-browser-center {
  background-color: black;
  margin: auto;
  height: 480px;
  width: 770px;
}
.tagline .tagline-browser-left {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: -34px;
  bottom: 0;
  height: 400px;
  width: 770px;
}
.tagline .tagline-browser-right {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  right: -17px;
  bottom: 0;
  height: 400px;
  width: 770px;
}

.text-boxes {
  padding: 48px 0;
  background: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
}
.text-boxes .wrapper {
  display: flex;
  align-items: center;
}
.text-boxes .wrapper .purchase-text {
  margin-right: 460px;
}
.text-boxes .wrapper .purchase-text .purchase-title {
  font-size: 28px;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0;
  color: #fff;
  margin-bottom: 8px;
}
.text-boxes .wrapper .purchase-text .purchase-title .title-span {
  color: #c7b299;
}
.text-boxes .wrapper .purchase-text .purchase-subtitle {
  font-size: 18px;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0;
  color: #615855;
}
.text-boxes .wrapper .purchase-btn {
  padding: 16px 30px;
}
