* {
  padding: 0;
  margin: 0;
}

$motserrat: "Montserrat", "Arial", sans-serif;
$raleway: "Raleway", "Arial", sans-serif;
$roboto: "Roboto", "Arial", sans-serif;

$white: #fff;
$highlighting: #c7b299;
$subtitles: #8c8c8c;
$titles: #555555;
$background-light: #fbfaf8;
$background-gradient: linear-gradient(
  90deg,
  rgba(33, 27, 25, 1) 0%,
  rgba(78, 52, 39, 1) 100%
);

.wrapper {
  position: relative;
  max-width: 1180px;
  margin: auto;
}

.highlight {
  color: $highlighting;
}

.btn-template {
  padding: 16px 40px;
  border: 0;
  font-size: 14px;
  font-weight: 800;
  color: $white;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #998675;
  border-bottom: 3px solid #736357;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.hero {
  height: 1023px;
  background: url(../img/hero-bg.jpg);
}

.header {
  margin-bottom: 235px;
  padding: 40px 0;
  .wrapper {
    display: flex;
  }
}

.header-logotype-link {
  margin-right: 215px;
}
.header-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0;
}

.header-buttons-group {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  .header-button {
    list-style: none;
  }
  .header-button:first-of-type {
    margin-right: 30px;
  }
}

.navigation-link {
  list-style: none;
  margin-right: 30px;
  a {
    font-family: $motserrat;
    font-weight: 300;
    font-size: 14px;
    line-height: 0;
    letter-spacing: 0;
    color: $white;
    text-decoration: none;
  }
}

.navigation-link:hover {
  a {
    color: $highlighting;
  }
}

.navigation-link:last-of-type {
  margin-right: 30px;
}

.hero {
  .slider {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .slider {
      position: relative;
      height: inherit;
      width: inherit;
      margin-bottom: 245px;
      overflow: hidden;
    }
  }
}

.slider-wrapper > input {
  display: none;
}

.slider-wrapper {
  height: 350px;
  width: 700px;
  margin: 0 auto 0;
  position: relative;
}

.slides {
  position: absolute;
  height: inherit;
  width: inherit;
  font-family: $raleway;
  text-align: center;
  color: $white;
  .slide-pretitle {
    margin: 0 0 14px 0;
    font-size: 36px;
    font-weight: 500;
  }
  .slide-title {
    margin: 0 0 20px 0;
    font-size: 52px;
    font-weight: 800;
  }
  .slide-subtitle {
    margin: auto auto 32px auto;
    font-size: 16px;
    font-weight: 300;
    max-width: 570px;
    line-height: 24px;
  }
}

.slider-arrow {
  position: absolute;
}

.slider-arrow-img {
  width: 72px;
  height: 72px;
}

.left-arrow {
  left: 125px;
}
.right-arrow {
  right: 125px;
}

.slider-controls {
  height: fit-content;
  width: fit-content;
  margin: auto;
  padding-right: 18px;
  .radio-btn {
    width: 10px;
    height: 10px;
    margin-left: 5px;
  }
  .radio-btn:checked {
    width: 15px;
    height: 15px;
    margin-left: 8px;
    margin-right: 3px;
  }
  .radio-btn:first-of-type {
    margin-left: 0;
  }
}

.services {
  padding: 80px 0;

  .services-list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.services-list-element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  text-align: center;
  cursor: pointer;

  .services-element-icon {
    height: 45px;
    width: 45px;
    margin-bottom: 30px;
    filter: invert(32%) sepia(13%) saturate(15%) hue-rotate(329deg)
      brightness(91%) contrast(85%);
  }
  .services-element-title {
    margin-bottom: 20px;
    font-family: $raleway;
    font-weight: 600;
    font-size: 22px;
    color: $titles;
  }
  .services-element-subtitle {
    max-width: 272px;
    margin-bottom: 24px;
    font-family: $motserrat;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: $subtitles;
  }
  .services-element-line {
    height: 3px;
    width: 70px;
    background-color: #f1eee9;
  }
}

.services-list-element:hover {
  .services-element-icon {
    filter: invert(84%) sepia(6%) saturate(1145%) hue-rotate(353deg)
      brightness(88%) contrast(83%);
  }
  .services-element-title {
    color: $highlighting;
  }
  .services-element-subtitle {
    color: $subtitles;
  }
  .services-element-line {
    background-color: $highlighting;
  }
}

.tagline {
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 71px;
  background-color: $background-light;

  .tagline-title {
    margin-bottom: 20px;
    font-family: $raleway;
    font-weight: 600;
    font-size: 30px;
    color: $titles;
  }
  .tagline-subtitle {
    max-width: 770px;
    margin: auto auto 33px auto;
    font-family: $motserrat;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: $subtitles;
  }
  .tagline-browser-container {
    position: relative;
    height: 480px;
    width: 770px;
    margin: auto;
  }
  .tagline-browser-center {
    position: absolute;
    height: 480px;
    width: 770px;
    margin: auto;
    background: url(../img/browser-center.png);
    z-index: 10;
  }
  .tagline-browser-left {
    position: absolute;
    right: 240px;
    bottom: 0;
    height: 400px;
    width: 770px;
    background: url(../img/browser-left.png);
  }
  .tagline-browser-right {
    position: absolute;
    left: 220px;
    bottom: 0;
    height: 400px;
    width: 770px;
    background: url(../img/browser-right.png);
  }
}

.text-boxes {
  padding: 48px 0;
  background: $background-gradient;

  .wrapper {
    display: flex;
    align-items: center;
  }
}

.purchase-text {
  margin-right: 460px;

  .purchase-title {
    margin-bottom: 8px;
    font-size: 28px;
    font-family: $raleway;
    letter-spacing: 0;
    color: $white;

    .title-span {
      color: $highlighting;
    }
  }
  .purchase-subtitle {
    font-size: 18px;
    font-weight: 300;
    font-family: $motserrat;
    letter-spacing: 0;
    color: #615855;
  }
}
.purchase-btn {
  padding: 16px 30px;
}

.projects {
  padding: 70px 0 80px 0;
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1300px;
    text-align: center;
  }
}

.projects-title {
  margin-bottom: 20px;
  font-family: $raleway;
  font-weight: 600;
  font-size: 30px;
  color: $titles;
}

.projects-subtitle {
  max-width: 800px;
  margin: auto auto 33px auto;
  font-family: $motserrat;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: $subtitles;
}

.projects-categories {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.projects-categories-element {
  list-style: none;

  button {
    margin-right: 10px;
    padding: 7px 25px;
    color: $subtitles;
    background-color: transparent;
    border: 1px solid $subtitles;
    border-radius: 2px;
    text-decoration: none;
    cursor: pointer;
    outline: none;
  }
}

.projects-categories-element:hover {
  list-style: none;

  button {
    color: $white;
    background-color: #736357;
    border: 1px solid #736357;
  }
}

.projects-table {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.table-element {
  cursor: pointer;
  margin: 0 17px 30px 17px;
  list-style: none;
}

.table-element-wrapper {
  position: relative;
}

.table-element-image {
  height: 240px;
  width: 370px;
  background: url(../img/hero-bg.jpg);
  background-size: cover;
}

.table-element-text {
  padding: 25px 0;
  text-align: left;
  background: $background-light;
}

.table-element-title {
  margin: 0 0 5px 28px;
  font-family: $raleway;
  font-weight: 600;
  font-size: 20px;
  color: $highlighting;
}

.table-element-subtitle {
  margin-left: 28px;
  font-family: $motserrat;
  font-weight: 300;
  font-size: 14px;
  color: #e2e2e1;
}

.element-icon {
  position: absolute;
  top: 100px;
  display: none;
  height: 25px;
  width: 25px;
}

.element-lupa-icon {
  right: 150px;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(82deg) brightness(105%)
    contrast(105%);
  transform: scale(-1, 1);
}

.element-link-icon {
  left: 140px;
  filter: invert(78%) sepia(9%) saturate(720%) hue-rotate(353deg)
    brightness(94%) contrast(85%);
}

.table-element:hover {
  .table-element-image {
    background: linear-gradient(
        180deg,
        rgba(21, 24, 36, 0.4) 100%,
        #151824 100%
      ),
      url(../img/hero-bg.jpg);
    background-size: cover;
  }

  .table-element-text {
    background: #362f2d;
  }

  .table-element-title {
    color: $white;
  }

  .table-element-subtitle {
    color: $highlighting;
  }

  .element-icon {
    display: block;
  }
}

.video-presentation {
  padding: 210px 0 200px 0;
  background: url(../img/video-bg.jpg);

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.video-play-btn {
  margin-bottom: 35px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(black, 0.2);
  border-radius: 50%;

  .play-btn-image {
    height: 64px;
    width: 64px;
    filter: invert(83%) sepia(100%) saturate(0%) hue-rotate(322deg)
      brightness(103%) contrast(103%);
  }
}

.video-title {
  margin: 0 0 20px 0;
  font-family: $raleway;
  font-weight: 500;
  font-size: 30px;
  color: $white;
}

.video-subtitle {
  margin: 0 0 23px 0;
  max-width: 570px;
  font-family: $motserrat;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: $white;
}

.video-timing {
  font-family: $motserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: $highlighting;
}

.mobile {
  padding-top: 70px;
  background: $background-light;

  .wrapper {
    display: flex;
    justify-content: center;
  }
}

.mobile-image {
  margin-right: 50px;
}

.mobile-title {
  margin: 120px 0 30px 0;
  font-family: $raleway;
  font-weight: 600;
  font-size: 30px;
  color: $titles;
}

.mobile-subtitles {
  font-family: $motserrat;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: $subtitles;
}

.mobile-subtitle {
  margin: 0 0 23px 0;
  max-width: 670px;
}

.mobile-list {
  margin-left: 50px;
}

.mobile-list-element {
  margin: 0 0 5px 0;
  color: $subtitles;
  list-style: none;
}

.mobile-list-element::before {
  height: 21px;
  width: 21px;
  padding: 0 30px 3px 0;
  display: inline-block;
  content: "";
  vertical-align: middle;
  background-image: url(../img/mobile-list-icon.png);
  background-repeat: no-repeat;
}

.advantages {
  padding: 60px 0;
  background: $background-gradient;
}

.advantages-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.advantages-list-element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 100px;
  list-style: none;
}
.advantages-list-element:last-of-type {
  margin: 0;
}

.list-element-image {
  margin-bottom: 25px;
}

.list-element-number {
  margin-bottom: 5px;
  font-family: $motserrat;
  font-weight: 300;
  font-size: 48px;
  color: $white;
}

.list-element-subtitle {
  margin-bottom: 27px;
  font-family: $motserrat;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: $highlighting;
}

.list-element-line {
  height: 2px;
  width: 30px;
  background-color: $white;
}

.posts {
  padding: 75px 0;
  text-align: center;

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.posts-title {
  margin-bottom: 20px;
  font-family: $raleway;
  font-weight: 600;
  font-size: 30px;
  color: $titles;
}

.posts-subtitle {
  margin-bottom: 30px;
  max-width: 770px;
  font-family: $motserrat;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: $subtitles;
}

.posts-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.posts-list-element {
  position: relative;
  cursor: pointer;
  margin: 0 17px 45px 17px;
  list-style: none;
}

.posts-element-image {
  height: 220px;
  width: 370px;
  background: url(../img/hero-bg.jpg);
  background-size: cover;
}

.posts-element-text {
  padding: 25px 0 25px 28px;
  text-align: left;
  background: $background-light;
}

.posts-element-title {
  margin: 0 0 15px 0;
  font-family: $raleway;
  font-weight: 600;
  font-size: 20px;
  color: $titles;
}

.posts-element-subtitle {
  margin-bottom: 20px;
  font-family: $motserrat;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  color: $subtitles;
}

.posts-element-link {
  font-family: $motserrat;
  font-weight: 300;
  font-size: 14px;
  color: $highlighting;
  text-decoration: none;
}

.posts-element-link::after {
  content: "►";
  padding-left: 5px;
}

.posts-element-date {
  position: absolute;
  top: 20px;
  left: 16px;
}

.date-header {
  padding: 7px;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  background: #363636;

  .date-title {
    font-family: $motserrat;
    font-weight: 300;
    font-size: 24px;
    line-height: 20px;
    color: $white;
  }
}

.date-body {
  padding: 4px 14px;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  background: #252525;

  .date-subtitle {
    font-family: $roboto;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: $white;
  }
}

.posts-list-element:hover {
  .posts-element-image {
    background: linear-gradient(
        180deg,
        rgba(21, 24, 36, 0.4) 100%,
        #151824 100%
      ),
      url(../img/hero-bg.jpg);
    background-size: cover;
  }

  .posts-element-text {
    background: #362f2d;
  }

  .posts-element-title {
    color: $highlighting;
  }

  .posts-element-subtitle {
    color: $white;
  }

  .date-header {
    background: $highlighting;
  }

  .date-body {
    background: #a48d72;
  }
}

.controls-left-arrow {
  margin-right: 5px;
}
