* {
    padding: 0;
    margin: 0;
}

$motserrat: 'Montserrat', sans-serif;
$raleway:'Raleway', sans-serif;
$roboto: 'Roboto', sans-serif;

.wrapper {
    max-width: 1180px;
    margin: auto;
    position: relative;
}

.hero {
    height: 1023px;
    background: url(../img/hero-bg.jpg);
}

.header{
    padding: 40px 0;
    margin-bottom: 235px;
    .wrapper{
        display: flex;
        .header-logotype-link{
            margin-right: 215px;
        }
        .navigation {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-left: 0;
            .navigation-link {
                list-style: none;
                margin-right: 30px;
                a {
                    text-decoration: none;
                    color: #ffffff;
                    font-family: $motserrat;
                    font-weight: 300;
                    font-size: 13.5px;
                    line-height: 0;
                    letter-spacing: 0;
                }
                .link-about-us {
                    color: #c7b299;
                }
            }
            .navigation-link:last-of-type{
                margin-right: 30px;
            }
        }
        .header-buttons-group{
            display: flex;
            justify-content: center;
            align-items: center;
            padding-left: 0;
            .header-button{
                list-style: none;
            }
            .header-button:first-of-type {
                margin-right: 30px;
            }
        }
    }
}

.hero {
    .slider{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .slider-wrapper > input {
            display: none;
        }
        .slider-wrapper {
            height: 350px;
            margin: 0 auto 0;
            position: relative;
            width: 700px;
        }

        .slides {
            height: inherit;
            position: absolute;
            width: inherit;
            text-align: center;
            color: #ffffff;
            font-family: $raleway;
            .slide-pretitle{
                font-size: 36px;
                font-weight: 500;
                margin: 0;
                margin-bottom: 14px;
            }
            .slide-title{
                font-size: 52px;
                font-weight: 800;
                margin: 0;
                margin-bottom: 20px;
            }
            .slide-subtitle{
                font-size: 16px;
                font-weight: 300;
                max-width: 570px;
                line-height: 24px;
                margin: auto;
                margin-bottom: 32px;
            }
            .slide-btn{
                padding: 16px 40px;
                text-transform: uppercase;
                color: #ffffff;
                text-decoration: none;
                font-size: 14px;
                font-weight: 800;
                border-radius: 5%;
                background-color: #998675;
                outline: none;
                cursor: pointer;
            }
        }
        
        .slider {
            height: inherit;
            overflow: hidden;
            position: relative;
            width: inherit;
            margin-bottom: 245px;
        }
    }


    .left-arrow{
        position: absolute;
        left: 125px;
        .left-arrow-img{
            height: 72px;
            width: 72px;

        }
    }
    .right-arrow{
        position: absolute;
        right: 125px;
        .right-arrow-img{
            height: 72px;
            width: 72px;

        }
    }

    .controls {
        width: fit-content;
        margin: auto;
        padding-right: 17.5px;
        height: fit-content;
        .radio-btn{
            content: '';
            width: 10px;
            height: 10px;
            border-radius: 100%;
            background: #999797;
            color: #999797;
            margin-left: 5px;
        }
        .radio-btn:checked{
            content: '';
            width: 15px;
            height: 15px;
            border: 1px solid #d3c1ad;
            border-radius: 100%;
            background: transparent;
            margin-left: 7.5px;
            margin-right: 2.5px;
        }
        .radio-btn:first-of-type{
            margin-left: 0;
        }
    }
}

.services {
    padding: 80px 0;

    .services-list {
        display: flex;
        justify-content: center;
        align-items: center;

        .services-list-element {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-right: 30px;
            cursor: pointer;

            .element-icon {
                filter: invert(32%) sepia(13%) saturate(15%) hue-rotate(329deg) brightness(91%) contrast(85%);
                height: 45px;
                width: 45px;
                margin-bottom: 30px;
            }
            .element-title {
                font-family: $raleway;
                font-weight: 600;
                font-size: 22px;
                color: #555555; 
                margin-bottom: 20px;
            }
            .element-subtitle {
                font-family: $motserrat;
                font-weight: 300;
                font-size: 14px;
                color: #8c8c8c;
                max-width: 272px;
                margin-bottom: 24px;
                line-height: 24px;
            }
            .element-line {
                height: 3px;
                width: 70px;
                background-color: #f1eee9;
            }
        }

        .services-list-element:hover {

            .element-icon {
                filter: invert(84%) sepia(6%) saturate(1145%) hue-rotate(353deg) brightness(88%) contrast(83%);
            }
            .element-title {
                color: #c7b299; 
            }
            .element-subtitle {
                color: #8c8c8c;
            }
            .element-line {
                background-color: #c7b299;
            }
        }
    }
}

.tagline {
    padding-top: 71px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fbfaf8;
    position: relative;

    .tagline-title {
        font-family: $raleway;
        font-weight: 600;
        font-size: 30px;
        margin-bottom: 20px;
        color: #555555;
    }
    .tagline-subtitle {
        margin: auto;
        font-family: $motserrat;
        font-weight: 300;
        font-size: 16px;
        line-height: 28px;
        margin-bottom: 33px;
        max-width: 770px;
        color: #8c8c8c;
    }
    .tagline-browser-center {
        background-color: black;
        margin: auto;
        height: 480px;
        width: 770px;
    }
    .tagline-browser-left {
        background-color: rgba(black, 0.5);
        position: absolute;
        left: -34px;
        bottom: 0;
        height: 400px;
        width: 770px;
    }
    .tagline-browser-right {
        background-color: rgba(black, 0.4);
        position: absolute;
        right: -17px;
        bottom: 0;
        height: 400px;
        width: 770px;
    }
}